.abstract {
    width: 1095px;
    height: 1420px;
    background-color: darkslategray;
    padding: 30px;
}

.abstract_white {
    background-color: white;
    border: 10px solid darkslategray;
}

.abstract_black {
    background-color: black;
    border: 10px solid darkslategray;
}

.abstract_blue {
    background-color: blue;
    border: 10px solid darkslategray;
}

.abstract_yellow {
    background-color: yellow;
    border: 10px solid darkslategray;
}

.abstract_red {
    background-color: red;
    border: 10px solid darkslategray;
}

.row1,
.row4,
.row5,
.row6,
.row7,
.row8 {
    height: 140px;
}

.row2,
.row3 {
    height: 280px;
}


