body {
    background: url('../img/rana-sawalha-364253-unsplash.png') no-repeat;
    background-size: cover;
    font-family: Verdana, sans-serif;
    height: 100vh;
 }

.header {
    height: 54px;
    background-color:  rgba(0, 0, 0, 0.41);
    position: relative;
}

.header_left_side {
    width: 78.3%;
    display: inline-block;
    justify-content: space-between;
    position: relative;
}

.header_logo {
    padding-left: 81px;
    padding-top: 20px;
    display: inline-block;
}

.logo_header_link {
    color:  #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
}

.logo_header_link:hover {
    color:  #3cb878;
}

.header_icon {
    display: inline-block;
    float: right;
    width: 149px;
    height: 20px;
    margin-top: 16px;
}

.icon_calendar {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 28px;
    background: url('../img/css_sprites.png') -1px -0;
}

.icon_calendar:hover {
    background: url('../img/css_sprites.png') -20px -0;
}

.icon_forum {
    display: inline-block;
    width: 28px;
    height: 20px;
    margin-right: 28px;
    background: url('../img/css_sprites.png') -79px -0;
}

.icon_forum:hover {
    background: url('../img/css_sprites.png') -107px -0;
}

.icon_journal {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: url('../img/css_sprites.png') -39px -0;
}

.icon_journal:hover{
    background: url('../img/css_sprites.png') -59px -0;
}

.line {
    display: inline-block;
    width: 1px;
    height: 19px;
    background: url('../img/css_sprites.png') -0 -0;
}

.header_right_side {
    width: 21.7%;
    margin-top: 21px;
    display: inline-block;
    float: right;
}

.header_registration {
    display: inline-block;
    color:  #ffffff;
    font-size: 14px;
    text-align: left;
    margin-left: 24px;
}

.header_login_link {
    color:  #3cb878;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
}
.header_registration_link {
    color:  #3cb878;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
}

.header_registration_link:hover, .header_login_link:hover {
    border-bottom: 1px solid #3cb878;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    /*margin-top: calc((100vh - 638px) /2);*/
    /*margin-bottom: calc((100vh - 638px) /2);*/
}

.main_container {
    margin-left: auto;
    margin-right: auto;
    width: 322px;
    height: 523px;
    padding: 29px 60px 32px 62px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    position: relative;
}

.mr_green {
    position: absolute;
    top: 29px;
    left: 0;
    width: 18px;
    height: 18px;
    margin: 0;
    background-color: #3cb878;
}

.registration, .social_link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_container_registration {
    margin-bottom: 37px;
}

.main_container_registration_link {
    color: #434343;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 15px;

}

.main_container_login_link {
    color:#3cb878;
    font-size: 14px;
    margin-bottom: 15px;
    text-decoration: none;
}
.main_container_login_link:hover {
    border-bottom: 1px solid #3cb878;
}

.facebook_link, .google_link {
    border-radius: 3px;
    width: 157px;
    height: 46px;
    color:  #ffffff;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.facebook_link {
background-color:  #305db8;

}
.google_link {
    background-color:  #df4a32;
}

.fa-facebook-f {
    width: 10px;
    height: 20px;
    color:  #ffffff;
    margin-left: 20px;

}
.fa-google-plus-g {
    width: 25px;
    height: 16px;
    color:  #ffffff;
    margin-left: 13px;
}

.or_line {
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
    display: inline-block;

}
.line_horisontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color:  #848484;
    font-size: 14px;
    vertical-align: middle;
    margin-bottom: 18px;
}

.or_line:after {
    margin-left: 18px;
}

.or_line:before {
    margin-right: 18px;
}

.form-sign-up__input {
    border: 1px solid #eaeaea;
    margin-bottom: 9px;
    transition: box-shadow 1s;
    width: 305px;
    height: 46px;
    padding-left:  17px;
    border-radius: 3px;
    color:  #bebebe;
    font-size: 14px;
    text-align: left;
}

.form-sign-up__input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.form-sign-up__terms {
    position: relative;
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}

.form-sign-up__terms-link {
    display: inline-block;
    margin-left: 3px;
    color: #3cb878;
    text-decoration: none;
}

.form-sign-up__terms-link:hover {
    border-bottom: 1px solid #3cb878;
}
.form-sign-up__checkbox {
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

.default-checkbox {
    height: 20px;
    width: 20px;
    opacity: 0;
    position: absolute;
}

.default-checkbox:checked ~ .form-sign-up__checkbox {
    background: url("../img/checkbox.png") 3px 5px no-repeat;
}

.form-sign-up__social-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 37px;
}

.facebook_link:active,
.facebook_link:hover {
    background-color: #264b96;
}

.google_link:active,
.google_link:hover {
    background-color: #c3412c;

}

.social-link_icon {
    padding: 4px 17px 4px 0;
    font-size: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 18px;
}

.form-sign-up__submit-btn {
    width: 100%;
    text-align: center;
    background-color: #3cb878;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 1s;
    height: 46px;
    border-style: none;
}

.form-sign-up__submit-btn:active,
.form-sign-up__submit-btn:hover {
    background-color: #329a65;
}

.form-sign-up {
position: relative;
display: flex;
    flex-wrap: wrap;
flex-direction: column;
box-sizing: border-box;
border-radius: 16px;
padding: 29px 60px 32px 62px;
background-color: #fff;
box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
width: 444px;
}
