body {
    font-family: 'OpenSans', sans-serif;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-top: 100px;
    margin-bottom: 51px;
}

.logo {
    color:  #000000;
    font-size: 80px;
    text-align: left;
    text-decoration: none;
}

.logo_blue {
    color:  #4bcaff;
    font-size: 80px;
}

.main-menu{
    width: 1280px;
    height: 69px;
    background-color: #35444f;
    text-align: center;
    margin-top: 45px;
}
.main-menu__option {
    display: inline-block;
}

.main-menu__link {
    text-decoration: none;
    background-color: #35444f;
    color:  #ffffff;
    text-align: left;
    font-size: 24px;
    transition: background-color 1s;
    display: inline-block;
    padding: 22px 41px;
    border-left: 1px;
    border-right: 1px;
    box-sizing: border-box;
}

.main-menu__link:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
 }

.content__main {
    display: inline-flex;
}

.menu_col {
    width: 342px;
    height: 402px;
    border: 1px solid #000;
}

.menu_col_option {
    color:  #495863;
    font-size: 26.99px;
    text-align: left;
    width: 342px;
    height: 81px;
}

.menu_col_link {
    text-decoration: none;
    color:  #475763;
    text-align: left;
    font-size: 24px;
    transition: background-color 0.5s;
    display: inline-block;
    padding: 26px 41px;
    margin-top: 1px;
}

.menu_col_link:hover {
    padding-left: 69px;
    color: #000000;
    background-color: #dcdcdc;
    width: 232px;
}

.img_col {
    margin-left: 52px;
    width: 885px;
}
.logo__img{
    padding:  75px 268px 73px 295px ;
    border: 1px solid black;
}

.main_img {
    width: 320px;
    height: 381px;
}

.main_img:hover {
    transform: scale(1.03);

}
.content {
    margin: 50px 30px;
    width: 815px;
    color: #2c2b2b;
    font-size: 18px;
    line-height: 24px;
}

.footer {
    width: 1236px;
    height: 69px;
    background-color: #b6b9bc;
    padding-left: 44px;
    display: flex;
    justify-content: space-between;
}

.footer_option {
    display: inline-block;
    margin: 22px 10px 21px auto;
}

.footer_link {
    list-style: none;
    text-decoration: none;
    color:  #041223;
    font-size: 28px;
    transition: color 0.5s;
    padding-bottom: 3px;
}

.footer_link:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6 ;
}

.copyright {
    display: inline-block;
    color:  #010000;
    font-size: 24px;
    line-height: 69px;
    margin-right: 34px;
 }