body {
    font-family: Arial, sans-serif;
    width: 1280px;
}

.header {
    margin-top: 32px;
    margin-bottom: 35px;
}
.navbar-menu {
    text-align: center;
}

.menu_item {
    display: inline-block;
}

.menu_link {
    text-decoration: none;
    color:  #16a085;
    font-size: 18px;
    font-weight: 900;
    margin: auto 30px auto 30px;
}

.simple_photo_info {
    background-color: #f5f6f7;
    padding-bottom: 94px;
}

.shocked_cat {
    text-align: center;
}

.really_shocked_cat {
    display: block;
    text-align: center;
    width: 1280px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.text_header {
    color:  #373737;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    margin-top: 56px;
}

.text {width: 1059px;
    margin: 34px auto 0 auto;
    color:  #373737;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-weight: 900;
}

.btn_link {
    color:  #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 41px auto 0 auto;
    border-radius: 3px;
    width: 192px;
    height: 51px;
    background-color: #16a085;
    line-height: 51px;
}

.footer {
    height: 23px;
    color:  #373737;
    font-size: 16px;
    text-align: right;
    font-weight: 900;
    margin: 47px 104px 47px auto;
}