body {
    width: 1192px;
    height: 736px;
    background-color: #374765;
    padding: 23px 30px 31px 22px;
    font-family: 'Arimo', sans-serif;
    margin-right: auto;
    margin-left: auto;
}

.pricing_table {
    background-color: #f2f2f2;
    width: 1140px;
    height: 682px;
}

.column {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.header_row_top {
    text-align: center;
    height: 70px;
    color: #484848;
    font-weight: 700;
}

.plan {
    background-color:#fafafa;
    height: 156px;
    color: #484848;
    font-weight: 700;
}

.plan_top {
    line-height: 28px;
    font-size: 18px;
    margin-top: 54px;
}
.plan_bottom {
    font-size: 30px;
    line-height: 28px;
}

.header_standart {
    background-color: #89c331;
    font-size: 24px;
    color:  #ffffff;
    line-height: 70px;
}

.header_ultimate {
    background-color: #f04a56;
    font-size: 30px;
    color:  #ffffff;
    line-height: 70px;
}

.header_premium {
    background-color: #20807c;
    font-size: 24px;
    color:  #ffffff;
    line-height: 70px;
}
.header_row_bottom {
    text-align: center;
    height: 86px;
    background-color: #fafafa;
    color: #484848;
}

.price {
    font-size: 60px;
    font-weight: 700;
    display: inline-block;
}

.cents {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
}

.period {
    display: inline-block;
    text-align:left;
}
.body_row {
    text-align: center;
    height: 69px;
    color:#484848;
    font-size: 16px;
    line-height: 69px;
}

.storage, .email, .products {
    background-color: #f2f2f2;
}

.bandwidth, .support, .users {
    background-color: #e3e3e3;
}

.fas {
    margin-right: 12px;
    font-size: 24px;
}

.footer_row {
    text-align: center;
    height: 110px;
    line-height: 110px;
}

.btn {
    width: 192px;
    height: 49px;
    border-radius: 5px;
    border-style: none;
    position: relative;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.contact {
    background: -webkit-gradient(linear, 0 0, 0  100%,  color-stop(0.85, #484848), color-stop(0.85,  #404040));
}

.buy_now_standart {
       background: -webkit-gradient(linear, 0 0, 0  100%,  color-stop(0.85, #89c331), color-stop(0.85,  #79b027));
}

.buy_now_ultimate {
     background: -webkit-gradient(linear, 0 0, 0  100%,  color-stop(0.85, #f04a56), color-stop(0.85,  #df3a46));
}
.buy_now_premium {
       background: -webkit-gradient(linear, 0 0, 0  100%,  color-stop(0.85, #20807c), color-stop(0.85,  #16736f));
}


.contact:hover {
    background: -webkit-gradient(linear, 0 0, 0  100%,  color-stop(0.15, #484848), color-stop(0.15,  #404040));
}

.buy_now_standart:hover {
    background: -webkit-gradient(linear, 0 0, 0  100%,  color-stop(0.15, #89c331), color-stop(0.15,  #79b027));
}

.buy_now_ultimate:hover {
    background: -webkit-gradient(linear, 0 0, 0  100%,  color-stop(0.15, #f04a56), color-stop(0.15,  #df3a46));
}
.buy_now_premium:hover {
    background: -webkit-gradient(linear, 0 0, 0  100%,  color-stop(0.15, #20807c), color-stop(0.15,  #16736f));
}
