body {
     font-family: 'Montserrat', sans-serif;
    width: 1920px;
 }
.container {
    width: 1160px;
    margin: 0 auto;
}
.navbar-content {
    width: 1252px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    background-color:  rgba(73, 71, 63, 0.6);
    padding-top: 25px;
    padding-bottom: 28px;
    position: absolute;
    width: 1920px;
  }
.menu-top-item {
    display: inline-block;
    padding-right: 15px;

}

.menu-top-link {

    text-transform: uppercase;
    text-decoration: none;
    color:  #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 51px;
}
.menu-top-link:hover {
    color:  #18cfab;
    border-bottom: 2px solid #18cfab;
}



.navbar-search {
    display: none;
}
.navbar-logo {

}
.navbar-logo-link {
    text-decoration: none;
}
.navbar-logo-img {
    background: url('../img/Polygon.png') no-repeat -0 -0;
    display: inline-block;
    width: 58px;
    height: 67px;
    color:  #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 67px;
    text-align: center;
    vertical-align: center;
}
.navbar-logo-text {
    display: inline-block;
    color:  #ffffff;
    font-size: 32px;
    text-align: left;
}
.navbar-logo-text-ham {
   color:  #18cfab;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}
.fa-search {
font-size: 22px;
    color: #bdbdbd;
}

.container_header {
    height: 1012px;
    background: url('../img/BG.png') no-repeat;
    background-size: cover;

}

.header-text-top-left {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding-top: 246px;
    padding-bottom: 45px;
}


.header-text-top-right {
     color:  #18cfab;

}
.header-text {
    color:  #ffffff;
    font-size: 79px;
    font-weight: 700;
    text-align: center;

 }
.header-description {
     color:  #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    line-height: 74px;
    text-align: center;
    padding-top: 37px;
    padding-bottom: 142px;
  }


.btn {
    text-align: center;
}
.header-btn {
    display: inline;
    border-radius: 4px;
    background-color:  #18cfab;
    width: 166px;
    height: 61px;
    color:  #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 31px;
    border-style: none;
    text-align: center;
    padding: 15px 25px;
    box-shadow: 0 -4px 0 0 rgba(255,255,255,1);
    margin-left: 14px;
    margin-right: 14px;

}
.header-btn:hover {
     background-color:  #00cbf6;
}



.service_container {

}

.service-items {
    display: flex;
    flex-wrap: wrap;
}

.service-items_dark {
    width: 480px;
    height: 374px;
    display: block;
    color:  #18cfab;
    background: -webkit-gradient(linear, 0 0, 0  100%,  color-stop(0.02, #18cfab), color-stop(0.02,  #1c2a33));
    text-align: center;

}

.service-items_green {
    width: 480px;
    height: 374px;
    display: block;
    color:  #ffffff;
    background: -webkit-gradient(linear, 0 0, 0  100%,  color-stop(0.02, #1c2a33), color-stop(0.02,  #18cfab));
    text-align: center;
}
.service-icon-name {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 20px;
    vertical-align: center;

}


.service-items-icon-pointer {

    display: inline-block;
    width: 58px; height: 97px;
    background: url('../img/service-items.png') -0 -0;
    margin-top: 95px;
    margin-bottom: 49px;
}


.service-items-icon-idea {
    display: inline-block;
    width: 60px; height: 96px;
    background: url('../img/service-items.png') -58px -0;
    margin-top: 95px;
    margin-bottom: 48px;
}


.service-items-icon-computer {
    display: inline-block;
    width: 99px; height: 76px;
    background: url('../img/service-items.png') -211px -0;
    margin-top: 105px;
    margin-bottom: 59px;
}


.service-items-icon-diamond {
    display: inline-block;
    width: 93px; height: 75px;
    background: url('../img/service-items.png') -118px -0;
    margin-top: 106px;
    margin-bottom: 59px;
}

.services {
    display: flex;
    width: 1158px;
    margin-right: auto;
    margin-left: auto;



}
.service-description {
    display: block;
    visibility: collapse;

}

.service-description:first-child {
    visibility: visible;
}


.service-name {
    display: block;
    width: 192px;
    height: 73px;
    color:  #717171;
    font-size: 15.98px;
    line-height: 73px;
    text-align: center;
    vertical-align: center;
    border: 1px solid #ececec;
    background-color: #f8fcfe;
    visibility: visible;
   
}

.service-name:hover {
    color:  #ffffff;
    background-color:  #18cfab;

}
.service-name:hover .service-img,
.service-name:hover .service-name-description
{
    display: block;
}

.service-img {
    display: none;
}


.service-name-description {
    flex: inherit;
    color:  #777777;
    font-size: 13.64px;
    font-weight: 300;
    display: block;
    visibility: inherit;

}



.service-container-header {
    color:  #4e4e4e;
    font-size: 36px;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 37px;


}
.line {
    border-style: none;
    background-color:  #18cfab;
    width: 76px;
    height: 1px;
    box-shadow: -12px -3px 0px 0px rgba(24,207,171,1);
    margin-bottom: 70px;

}

.purchase {
    margin-top: 103px;
    background: url('../img/BG (1).png') no-repeat ;
    height: 474px;
}

.purchase-title {
    color:  #18cfab;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 126px;

}


.purpose-description {

    color:  #d8d8d8;
    font-size: 16px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 76px;

}

.container-work {
    background-color: #f8fcfe;
    border-bottom: 1px solid  #e2e2e2;


}
.work {
    width: 1153px;
margin-right: calc((100% - 1153px)/2);
    margin-left: calc((100% - 1153px)/2);

}
.work-title {
    color:  #4e4e4e;
    font-size: 36px;
    text-align: center;
    padding-top: 97px;
    padding-bottom: 26px;
}
.work-names {

    height: 58px;
    display: flex;

}
.work-name {
    color:  #717171;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ececec;
    padding: 24px 21px 20px 29px;
    display: inline-block;


}


.work-name:hover {
    color:  #18cfab;
    border-top: 2px solid #18cfab;

}


.work-images {

    margin-top: 71px;
}
.work-btn {
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    border-style: none;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    vertical-align: center;
    margin-bottom: 100px;
    margin-top: 71px;


}

.news-title {
    color:     #4e4e4e;
    font-size: 36px;

    text-align: center;
    padding-top: 84px;
    padding-bottom: 30px;
}

.blog-news {

width: 1176px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 86px;
    margin-right: calc((100% - 1176px)/2);
    margin-left: calc((100% - 1176px)/2);

}

.news {
    height: 280px;
    width: 264px;
    background-color: #f8fcfe;
    border: 1px solid #eeefef;
    display: inline-block;
    margin-left: 28px;
    margin-bottom: 45px;

}

.news:nth-child(4n) {
    margin-right: 0;
}


.news-link {
     text-decoration: none;
    position: relative;

 }
.news-description {
    width: 263px;
    height: 72px;
    color:    #717171;
    font-size: 17.99px;
    font-weight: 700;
    line-height: 40px;
    padding-left: 15px;



}
.news-img {


}

.news:hover .news-description  {
    color: #18cfab;
}

.news:hover .news-date{
    background-color: #18cfab;
}

.comments {

    color: #777777;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 28px;
    padding-left: 15px;


}


.news-date {
    background-color:   #203e38;
    width: 68px;
    height: 66px;
    color:  #ffffff;
    font-size: 15.99px;
    text-align: center;
    line-height: 33px;
    vertical-align: center;
    display: block;
    position: absolute;
    top: -193px;
    right: -81px;


}
.ham-carousel {
    width: 1920px;
    height: 852px;
    background: url('../img/Layer 3.png') no-repeat;


}
.ham-carousel-title {
    color:     #ffffff;
    font-size: 36px;
    text-align: center;
    padding-top: 99px;
    padding-bottom: 31px;

}

.quotes {
    display: block;
    width: 44px;
    height: 30px;
    background: url('../img/Forma 1 (4).png') no-repeat;
    text-align: center;
    margin: auto;
}

.carousel-description {
    width: 1176px;
    color:     #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    display: block;
    text-align: center;
    padding-top: 43px;
    line-height: 30px;
    margin: auto;
}


.ham-workers  {
    display: block;
    margin-top: 43px;
}
.ham-worker-name {

    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;;
    text-align: center;

}
.worker-position {
    color:#bbbbbb;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 27px;


}
.worker-photo {
    border-radius: 50%;
    /*border: 2px solid #18cfab;*/

    box-shadow: 0 0 4px rgba(31, 218, 181, 0.2);
}


.worker-photo-active {
    visibility: hidden;
}

/*.worker-photo:hover {*/
    /*border: 1px solid #18cfab;*/
    /*transform: translateY(-13px) ;*/


/*}*/

.worker-photo:hover .worker-photo-active {
    transform: scale(2.4);
    visibility: visible;
}



.gallery-title {

    color:  #4e4e4e;
    font-size: 36px;
    text-align: center;
    padding-top: 97px;
    padding-bottom: 26px;

}

.gallery-btn {

    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    color:         #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-style: none;
    margin-bottom: 81px;
    display: inline-block;
}
.fa-plus {
    color:  #ffffff;
    font-size: 16px;
    margin-right: 16px;

}

.item { width: 380px; }
.item.w2 { width: 380px; }

.footer {
    background-color: #22353f;
    width: 1920px;
    height: 108px;


}

.footer-description {
color:#aeaeae;
font-size: 14px;
font-weight: 300;
    line-height: 108px;
    text-align: center;


}

.footer-link {
    color: #18cfab;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;


}

#container-gallery-images {
margin-top: 67px;
}

.item {
    float: left;
}




/*Нужно сделать верстку только под широкоформатные мониторы, с шириной экрана более 1200 пикселей или более (то есть ширина контента фиксированная в пикселях). Максимальная ширина контейнера с контентом - 1160 пикселей (кроме второго блока с квадратами)*/
/*Бекграунд изображение в хедере должно занимать всю доступную ширину экрана*/
/*Адаптивная верстка под разные разрешения экрана НЕ требуется*/
/*Карточки в секции Breaking news должны быть кликабельными ссылками*/
/*Секция Gallery of best images не обязательная для выполнения*/
/*Динамические элементы на странице:*/
/*Вкладки в секции Our services должны переключаться при нажатии мышью. Текст и картинки для других вкладок вставить любые*/
/*Кнопка Load more в секции Our amazing work имитирует подгрузку с сервера новых картинок. При ее нажатии в секции снизу должно добавиться еще 12 картинок (изображения можно взять любые). После этого кнопка исчезает*/
/*Кнопки на вкладке Our amazing work являются "фильтрами продукции". Предварительно каждой из картинок нужно присвоить одну из четырех категорий, на ваше усмотрение (на макете это Graphic design, Web design, Landing pages, Wordpress). При нажатии на кнопку категории необходимо показать только те картинки, которые относятся к данной категории. All показывает картинки из всех категорий. Категории можно переименовать, картинки для категорий взять любые*/
/*Карусель на вкладке What people say about theHam должна быть рабочей, по клику как на иконку фотографии внизу, так и на стрелки вправо-влево. В карусели должна меняться как картинка, так и текст. Карусель обязательно должна быть с анимацией*/
/*Для подключения динамических элементов можно использовать любые библиотеки - как jQuery/его плагины, так и чистый Javascript код*/
/*Не обязательные задания продвинутой сложности:*/
/*Кнопку Load more в секции Our amazing work можно нажать два раза, каждое нажатие добавляет 12 картинок снизу. То есть максимум в этой секции может быть расположено 36 картинок. После второго нажатия кнопка исчезает*/
/*Сверстать также секцию Gallery of best images, расположить картинки внутри блока с помощью плагина Masonry*/
/*Кнопка Load more в секции Gallery of best images также должна быть рабочей и добавлять порцию новых картинок на страницу*/
/*При клике на каждую из кнопок Load more имитировать загрузку картинок с сервера. Показывать вместо кнопки или над ней две секунды CSS анимацию загрузки (можно написать самому или взять любой пример из интернета, например здесь или здесь), и только после этого добавлять картинки на страницу.*/



