body {
    width: 1197px;
    height: 660px;
    background-color: #354562;
    padding: 30px 30px 22px 27px;
    font-family: 'Arimo', sans-serif;
    margin-right: auto;
    margin-left: auto;
    color: #484848;
}

.pricing_table {
    background-color: #f2f2f2;
    width: 1135px;
}

.storage, .email, .products {
    background-color:  #e3e3e3;
}

/*.bandwidth, .support, .users {*/
    /*background-color:  #f2f2f2;*/
/*}*/

.header_row {
    height: 112px;
}

.plan {
    font-weight: 700;
    background-color:  #fafafa;
}

.plan_top {
    margin-top: 39px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    display: block;
}

.plan_bottom {
    margin-top: 9px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    display: block;
}

.fas {
    font-size: 24px;
    display: block;
    text-align: center;
}

.header_row_item {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    display: block;
    text-align: center;
}

.tbody_row {
    height: 166px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
    padding-top: 39px;
}

.price_standart {
    background-color:  #89c331;
    height: 166px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
}

.price_ultimate {
    background-color:  #f04a56;
    height: 166px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
}


.price_premium {
    background-color:  #20807c;
    height: 166px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
}

.plan_type {
    margin-top: 18px;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    display: block;
}

.price {
    color:  #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    margin-top: 21px;
}

.cents {
    font-size: 18px;
    font-weight: 700;
    color:  #ffffff;
    display: inline-block;
    vertical-align: top;
    margin-top: 21px;
}

.period {
    font-size: 14px;
    color:  #ffffff;
    display: inline-block;
    vertical-align: center;
}

.btn_buy_now {
    width: 144px;
    height: 41px;
    border-radius: 5px;
    border-style: none;
    position: relative;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
    background-color:  #414141;
    background: -webkit-gradient(linear, 0 0, 0  100%,  color-stop(0.85, #414141), color-stop(0.85,  #343434));
}
