body{
    width: 1600px;
    height: 3854px;
}

.header-img{
    width: 1600px;
    height: 900px;
    background:  url('../img/Layer 21.png')no-repeat fixed ;
}

.logo{
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin-left: 86px;
    padding-top: 530px;
    padding-bottom: 16px;
}


.logo-description{
    font-family: Lato;
    color:  #ffffff;
    font-size: 18px;
    text-align: left;
    margin-left: 86px;
    margin-bottom: 28px;
}
.main-title{
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color:  #ffffff;
    background-color:  rgba(0, 0, 0, 0.3);
    width: 831px;
    height: 129px;
    margin-left: 86px;
    line-height: 129px;
}

.main-title-white {
    font-family: Montserrat;
    display: inline-block;
    color:  #f1ad1d;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color:  #ffffff;
    background-color:  #ffffff;
    width: 152px;
    height: 127px;
    margin-left: -65px;
}

.title{
    font-family: Montserrat;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    margin-top: 112px;
    margin-bottom: 35px;
}

.description{
    font-family: Lato;
    color:  #4d4943;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 52px;
}

.line{
    background-color:  #f1ad1d;
    width: 60px;
    height: 3px;
    line-height: 3px;
    margin-left: auto;
    margin-right: auto;
}

.team-img {
    width: 1600px;
    height: 380px;
    background: black url('../img/Layer 22.png') no-repeat fixed;
    margin-top: 137px;
    padding-top: 150px;

}
.img-title{
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 60px;
}

.orange {
    color:  #f1ad1d;
}

.section-work{
    margin-top: 180px;
}

.work-img {width: 1600px;
    height: 475px;
    background: url('../img/Layer 25.png') no-repeat fixed;
    padding-top: 174px;
    margin-bottom: 157px;
}

.img-title{
     margin-bottom: 60px;
}

.company{
    width: 1188px;
    margin-top: 58px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company-logo-NP{
    display: block;
    width: 207px;
    height: 28px;
    background: url('../img/logo.png') 0 0 no-repeat;
}
.company-logo-dryme{
    display: block;
    width: 135px;
    height: 49px;
    background: url('../img/logo-8.png') 0 0 no-repeat;
}
.company-logo-hh{
    display: block;
    width: 172px;
    height: 42px;
    background: url('../img/logoH.png') 0 0 no-repeat;
}
.company-logo-journey{
    display: block;
    width: 141px;
    height: 52px;
    background: url('../img/logo-3.png') 0 0 no-repeat;
}

.section-goods{
    margin-top: 122px;
}

.goods-img {
    width: 1600px;
    height: 485px;
    background: url('../img/Layer 24.png') no-repeat fixed;
    padding-top: 130px;
}

.img-title-description{
    font-family: OpenSans;
    color:  #ffffff;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 60px;
}

.goods-link{
    font-family: OpenSans;
    color:  #f1ad1d;
    font-size: 18px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    display: table;
    margin-bottom: 44px;
}

.white-line{background-color:  #ffffff;
    width: 281px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 119px;
}

/*Технические требования к верстке:*/
/*Фоновые картинки должны быть зафиксированы на заднем фоне,
 и не двигаться при скролле, но между разными блоками должны
 быть показаны разные картинки*/
/*Пример работы данного свойства можно увидеть здесь*/
/*Для удобства, полные версии всех фоновых картинок вынесены
 в отдельную папку и даются вместе с макетом*/
/*Не обязательное задание продвинутой сложности:*/
/*Сверстать вторую версию этого макета, в котором фоновые
 картинки между блоками при скроллинге будут двигаться медленнее,
  чем основные блоки с текстом, но между разными блоками
   по-прежнему должны быть разные картинки*/
