body {
    width: 1366px;
    height: 768px;
}

.container {
    background-image: url('../img/background.png');
    padding: 49px 148px 0 154px;
    font-family: 'Verdana', sans-serif;
    color: #fff;
}

.header {
    width: 1064px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.header_logo {
    display: inline-flex;
    float: left;
    text-decoration: none;
    color: #fff;
}

.logo {
    display: inline-block;
    width: 46px;
    height: 44px;
}

.header_logo:hover {
    color: #f3651d;
}

.header_logo:hover .logo {
    content: url("../img/logo_orange.png");
}

.menu_item {
    padding-left: 15px;
    display: block;
}

.name_top {
    font-size: 29px;
    font-weight: 700;
}

.name_bottom {
    font-size: 18px;
    font-weight: 700;
}

.contacts_e-mail, .contacts_phone {
    text-align: right;
    font-size: 18px;
    line-height: 21px;
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.main_photo {
    justify-content: space-between;
    margin-bottom: 61px;
 }

.photo_row {
    float: left;
    margin-right: 64px;
    justify-content: space-between;
    margin-bottom: 55px;
    position: relative;
}

.photo_row:nth-child(3n){
    margin-right: 0;
}

.photo {
    margin-bottom: 20px;
    width: 312px;
    height: 204px;
    box-sizing: border-box;
    border: 2px solid;
    border-image: linear-gradient(#fff, transparent) 5;
}

.photo_element {
    position: absolute;
    height: 63px;
    opacity: 0;
    top: 139px;
    width: 100%;
    color: #ffffff;
    bottom: 0;
    transition: opacity 1s;
    background-color: #f3651d ;
}

.photo_element:hover  {
    opacity: 1;
}

.tour_price {
    text-decoration: none;
    padding-bottom: 17px;
}

.price {
    color:  #ffffff;
    font-size: 10px;
    display: block;
    padding-top: 16px;
    padding-left: 21px;
    margin-bottom: 7px;
}

.price_value {
    color:  #ffffff;
    font-size: 20px;
    display: inline-block;
    padding-left: 21px;
}

.link {
    color:  #ffffff;
    font-size: 14px;
    text-align: right;
    float: right;
    padding-right: 18px;
}

.photo_description {
     color:  #ffffff;
     font-size: 18px;
     text-align: center;
}

.photo_description:hover {
    color: #f3651d;
}

 .footer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    color:  #ffffff;
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}
